{% extends "layout.html" %}

{% block title %}
    Calculator
{% endblock %}

{% block main %}
    <form action="" method="post">
        {{ form.csrf_token }}
        {{ form.hidden_tag() }}
        <div class="mb-3">
            {{ form.username }}
        </div>
        <div class="mb-3">
            {{ form.name }}
        </div>
        <div class="mb-3">
            {{ form.email }}
        </div>
        <div class="mb-3">
            {{ form.password }}
        </div>
        <div class="mb-3">
            {{ form.confirm }}
        </div>
        {{ form.submit }}
    </form>
{% endblock %}